# Loops and Conditionals
---

looping through list

In [1]:
for item in [1, 3, 4]:
    print("item is {}".format(item))

item is 1
item is 3
item is 4

looping through tuple

In [2]:
for item in (1, 3, 4):
    print(item)

1
3
4

looping through dictionary - by keys

In [3]:
dct = {'name': 'Harry', 'age': 42, 'profession': 'Foreman', 'address': ('12th Street', 'CA')}

In [5]:
for item in dct:
    print(item)

address
name
age
profession

In [7]:
dct.keys()

dict_keys(['address', 'name', 'age', 'profession'])

In [6]:
for item in dct.keys():
    print(item)

address
name
age
profession

looping by value

In [8]:
dct.values()

dict_values([('12th Street', 'CA'), 'Harry', 42, 'Foreman'])

In [9]:
for item in dct.values():
    print(item)

('12th Street', 'CA')
Harry
42
Foreman

In [10]:
for item in dct:
    print("{} has value {}".format(item, dct[item]))

address has value ('12th Street', 'CA')
name has value Harry
age has value 42
profession has value Foreman

### tuple unpacking, variable assignment

In [12]:
a1 = 5
b1 = 8
print(a1, b1)

5 8

In [15]:
a1, b1 = 9, 6
print(a1, b1)

9 6

In [16]:
a, b = (0, 1)

In [17]:
a

0

In [18]:
b

1

In [20]:
dct.items()

dict_items([('address', ('12th Street', 'CA')), ('name', 'Harry'), ('age', 42), ('profession', 'Foreman')])

In [22]:
for item in dct.items():
    print(item)

('address', ('12th Street', 'CA'))
('name', 'Harry')
('age', 42)
('profession', 'Foreman')

In [24]:
for key, value in dct.items():
    print("key {} has value {}".format(key, value))

key address has value ('12th Street', 'CA')
key name has value Harry
key age has value 42
key profession has value Foreman

### Ranges

In [25]:
range(0, 9)

range(0, 9)

In [26]:
for i in range(0, 9):
    print(i)

0
1
2
3
4
5
6
7
8

In [27]:
for i in range(0, 9, 2):
    print(i)

0
2
4
6
8

#### while loop

In [29]:
a = a + 1

In [30]:
a += 1

In [31]:
a = 0
while a < 3:
    print(a)
    a += 1

0
1
2

#### Conditionals

In [32]:
[] == True

False

In [33]:
'' == True

False

In [34]:
0 == True

False

In [36]:
if ' ':
    print('If')

If

In [37]:
if '' == True:
    print('Some string')
else:
    print('empty string')

empty string

In [39]:
if a < 3:
    print('a is less than 3')
elif a == 3:
    print('a is equals to 3')
else:
    print('a is greater than 3')

a is equals to 3

In [40]:
a < 3 and a == 3

False

In [41]:
a < 3 or a == 3

True

In [42]:
a <= 3

True

In [44]:
a >= 3

True

In [45]:
a

3

In [47]:
3 <= a < 9

True

In [50]:
a = 0
while a < 9:
    print(a)
    if a == 3:
        break
    a += 1

0
1
2
3

In [52]:
a = 0
while a < 9:
    a += 1
    if 4 < a < 6:
        continue
    print(a)

1
2
3
4
6
7
8
9

## List Comprehension
---

In [54]:
range(0, 8)

range(0, 8)

In [57]:
[i for i in range(0, 8)]

[0, 1, 2, 3, 4, 5, 6, 7]

In [58]:
x = []
for i in range(0, 8):
    x.append(i)
x

[0, 1, 2, 3, 4, 5, 6, 7]

In [59]:
[i**2 for i in range(0, 8)]

[0, 1, 4, 9, 16, 25, 36, 49]

In [60]:
a = []
for i in range(1, 26):
    if i % 5 == 0:
        a.append(i)
a

[5, 10, 15, 20, 25]

In [61]:
[i for i in range(1, 26) if i % 5 == 0]

[5, 10, 15, 20, 25]

In [68]:
aa = 4
aa if aa < 3 else False

False

In [62]:
[i if i % 5 == 0 else 0 for i in range(1, 26)]

[0, 0, 0, 0, 5, 0, 0, 0, 0, 10, 0, 0, 0, 0, 15, 0, 0, 0, 0, 20, 0, 0, 0, 0, 25]

In [69]:
# nested example
[y for x in ['hello', 'world'] for y in x if x == 'hello']

['h', 'e', 'l', 'l', 'o']

## Dictionary comprehension
---

In [70]:
{i: i**2 for i in range(1, 6)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## Set comprehension
---

In [71]:
{i for i in range(1, 6)}

{1, 2, 3, 4, 5}

## Tuple comprehension ?? (Generator syntax)
---

In [72]:
(i for i in range(1, 7))

In [73]:
range(1, 7)

range(1, 7)